<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SNSkin_f8f8f8_141414</key>
	<string>0x141414</string>
	<key>SNSkin_1f2324_1f1f1f</key>
	<string>0x1f1f1f</string>
	<key>SNSkin_f84c4b85_ad353485</key>
	<string>0xad3534|0.85</string>
	<key>SNSkin_484e4f_666666</key>
	<string>0x666666</string>
	<key>SNSkin_eaeaea_141414</key>
	<string>0x141414</string>
	<key>SNSkin_8b8b8b_333333</key>
	<string>0x333333</string>
	<key>SNSkin_dbdbdb_282828</key>
	<string>0x282828</string>
	<key>SNSkin_e6e6e6_282828</key>
	<string>0x282828</string>
	<key>SNSkin_d5d5d5_333333</key>
	<string>0x333333</string>
	<key>SNSkin_a6acab_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_f8f8f8_26262670</key>
	<string>0x262626|0.7</string>
	<key>SNSkin_ffffff_1f1f1f</key>
	<string>0x1f1f1f</string>
	<key>SNSkin_f2f2f2_141414</key>
	<string>0x141414</string>
	<key>SNSkin_000000008_1a1a1a</key>
	<string>0x1a1a1a</string>
	<key>SNSkin_000000015_1a1a1a</key>
	<string>0x1a1a1a</string>
	<key>SNSkin_027cfc_0157b0</key>
	<string>0x0157b0</string>
	<key>SNSkin_ffffff_282828</key>
	<string>0x282828</string>
	<key>SNSkin_a6acbb_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_ffffff_262626</key>
	<string>0x262626</string>
	<key>SNSkin_333333_8c8c8c</key>
	<string>0x8c8c8c</string>
	<key>SNSkin_326fd3_0157b0</key>
	<string>0x0157b0</string>
	<key>SNSkin_c2c2c2_404040</key>
	<string>0x404040</string>
	<key>SNSkin_ededed_141414</key>
	<string>0x141414</string>
	<key>SNSkin_999999_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_a6acbb_595959</key>
	<string>0x595959</string>
	<key>SNSkin_a6acbb_8c8c8c</key>
	<string>0x8c8c8c</string>
	<key>SNSkin_ffffff_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkinMaskNone</key>
	<string>0x000000|0.8</string>
	<key>SNSkin_00000004_00000006</key>
	<string>0x000000|0.6</string>
	<key>SNSkin_00000000_00000000</key>
	<string>0x000000|0.0</string>
	<key>SNSkin_ff0000_ad3534</key>
	<string>0xad3534</string>
	<key>SNSkin_555555_666666</key>
	<string>0x666666</string>
	<key>SNSkin_d3d3d3_282828</key>
	<string>0x282828</string>
	<key>SNSkin_dbdbdb_333333</key>
	<string>0x333333</string>
	<key>SNSkin_f8f8f8_1f1f1f</key>
	<string>0x1f1f1f</string>
	<key>SNSkin_f8f8f870_1f1f1f70</key>
	<string>0x1f1f1f|0.7</string>
	<key>SNSkin_00000000_00000005</key>
	<string>0x000000|0.5</string>
	<key>SNSkin_333333_000000</key>
	<string>0x000000</string>
	<key>SNSkin_e3e3e3_333333</key>
	<string>0x333333</string>
	<key>SNSkin_cacaca_333333</key>
	<string>0x333333</string>
	<key>SNSkin_bababa_595959</key>
	<string>0x595959</string>
	<key>SNSkin_d3d3d3_333333</key>
	<string>0x333333</string>
	<key>SNSkin_bababa_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_bdbdbd_282828</key>
	<string>0x282828</string>
	<key>SNSkin_9e9e9e_595959</key>
	<string>0x595959</string>
	<key>SNSkin_dddddd_33333303</key>
	<string>0x333333|0.3</string>
	<key>SNSkin_212121_1a1a1a</key>
	<string>0x1a1a1a</string>
	<key>SNSkin_d3d3d3_141414</key>
	<string>0x141414</string>
	<key>SNSkin_f9f8f9_1f1f1f</key>
	<string>0x1f1f1f</string>
	<key>SNSkin_efefef_141414</key>
	<string>0x141414</string>
	<key>SNSkin_dfdfdf_1a1a1a</key>
	<string>0x1a1a1a</string>
	<key>SNSkin_888888_666666</key>
	<string>0x666666</string>
	<key>SNSkin_f10f0f_ad3534</key>
	<string>0xad3534</string>
	<key>SNSkin_8b8b8b_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_eeeeee_141414</key>
	<string>0x141414</string>
	<key>SNSkin_888888_595959</key>
	<string>0x595959</string>
	<key>SNSkin_b9b9b9_4c4c4c</key>
	<string>0x4c4c4c</string>
	<key>SNSkin_8b8b8b_595959</key>
	<string>0x595959</string>
	<key>SNSkin_ffffff_8c8c8c03</key>
	<string>0x8c8c8c|0.3</string>
	<key>SNSkin_bababa_333333</key>
	<string>0x333333</string>
	<key>SNSkin_e6e6e6_333333</key>
	<string>0x333333</string>
	<key>SNSkin_b2b2b2_333333</key>
	<string>0x333333</string>
	<key>SNSkin_262626_8c8c8c</key>
	<string>0x8c8c8c</string>
	<key>SNSkin_428ad1_2a5885</key>
	<string>0x2a5885</string>
	<key>SNSkin_f8f8f8_1a1a1a</key>
	<string>0x1a1a1a</string>
	<key>SNSkin_ffffff_8c8c8c</key>
	<string>0x8c8c8c</string>
	<key>SNSkin_333333_333333</key>
	<string>0x333333</string>
	<key>SNSkin_f8f8f8_262626</key>
	<string>0x262626</string>
	<key>SNSkin_f84c4b_ad3534</key>
	<string>0xad3534</string>
	<key>SNSkin_d5d5d5_282828</key>
	<string>0x282828</string>
	<key>SNSkin_33333380_00000080</key>
	<string>0x000000|0.8</string>
	<key>SNSkin_53d669_1a5824</key>
	<string>0x1a5824</string>
	<key>SNSkin_ffffff_212121</key>
	<string>0x212121</string>
	<key>SNSkin_e6e6e6_131313</key>
	<string>0x131313</string>
	<key>SNSkin_808080_101010</key>
	<string>0x101010</string>
	<key>SNSkin_e6e6e6_212121</key>
	<string>0x212121</string>
	<key>SNSkin_f8f8f8_26262685</key>
	<string>0x262626|0.85</string>
	<key>SNSkin_f3f3f3_5f5f5f</key>
	<string>0x5f5f5f</string>
</dict>
</plist>
